@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --primaryTextColor: #232e35; /* Untuk title atau judul */
  --secondaryTextColor: #656d72; /* Untuk text biasa seperti paragraph */

  --borderColor: #f1f1f1;
  --lineColor: #d9d9d9; /* Untuk line di pre-title */

  --primaryBackgroundColor: #fff;
  --secondaryBackgroundColor: #fbfbfb;
  --thirdBackgroundColor: #f5f3fe;

  --primaryIconColor: #d6af75;
  --primaryIconColorHover: #edc68c;

  --sectionPadding: 6rem 0;

  --itemBorderRadius: 0.7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--primaryTextColor);
}

p {
  font-size: 1rem; /* 16px */
  line-height: 1.9rem;
}

p,
span,
label,
input,
textarea,
li {
  color: var(--secondaryTextColor);
}

a {
  text-decoration: none;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}

/*Buttons*/
.btn {
  padding: 1rem 1.5rem;
  background: white;
  border: 1.5px solid var(--borderColor);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

/*titles */
.section-title {
  margin: 1rem 0 4rem;
  font-size: 2rem;
}

.pre-title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--secondaryTextColor);
  position: relative;
  padding-left: 40px;
  width: fit-content;
  font-weight: 400;
  font-size: 0.9rem;
}

.pre-title::before {
  content: "";
  width: 30px;
  height: 1px;
  background: var(--lineColor);
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
}

/* layout */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /*agar grid responsive */
  gap: 3rem;
}

/* Logo dan navigation menu */
.nav {
  display: flex;
  justify-content: space-between; /* Jarak antara logo dan Navigasi */
  padding: 2rem 0; /*jarak atas navigasi menu */
  align-items: center;
}

.nav ul {
  list-style: none; /*menghilangkan tanda list bulat pada navigasi menu */
  display: flex; /*membuat list navigasi menu berjajaar ke samping */
  gap: 3rem; /*membuat jarak space antar list menu */
}

.logo {
  display: flex;
  align-items: center; /*rata tengah atas bawah */
  /* font-weight: 700;    mengatur ketebalan font logo */
  /* font-size: 2rem;     mengatur besar font logo */
}

.logo img {
  max-width: 65px;
  height: auto;
}

.logo a {
  color: var(--primaryTextColor); /*merubah warna font logo*/
}

nav ul li {
  display: flex; /* Wadah */
  align-items: center; /*rata tengah atas bawah*/
}

nav ul li a {
  color: var(--primaryTextColor);
}

/*burger*/
.burger div {
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 7px;
  transition: all 0.3s;
  z-index: 99; /*agar posisinya terus diatas*/
}

.burger {
  display: none;
  z-index: 99; /*agar posisinya selalu diatas*/
  position: fixed; /*agar selalu muncul dilayar*/
  top: 33px;
  right: 35px;
}

/*hero section*/
#hero {
  height: 720px;
  /* display: grid; */
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  text-align: -webkit-center;
}

.hero-name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
}

.hero-name span {
  color: var(--primaryIconColor);
}

.hero-right img {
  width: 100%;
}

.hero-right {
  display: flex;
  justify-content: center;
}

/* Services Section */
#services {
  background-color: var(--secondaryBackgroundColor);
  padding: var(--sectionPadding);
}

.services .pre-title {
  margin: 0 auto;
}

.services-title {
  text-align: center;
}

.service {
  padding: 3rem 2rem;
  text-align: center;
  background: var(--primaryBackgroundColor);
  border-radius: var(--itemBorderRadius);
}

.service h4 {
  margin: 1.5rem 0;
  font-weight: 700;
  font-size: 1.05rem;
}

.service-icon {
  background: var(--thirdBackgroundColor);
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
}

.service-icon svg {
  fill: var(--primaryIconColor);
}

/* Message Section */
#contact {
  padding: var(--sectionPadding);
}

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.contact-form div {
  margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem 1.3rem;
  font-family: "roboto", sans-serif;
  background: var(--secondaryBackgroundColor);
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  resize: none;
}

.contact-form button {
  width: 100%;
  padding: 0.75rem 1.3rem;
  background-color: var(--primaryIconColor);
  color: #fff;
  border: none;
  /* border: 1px solid var(--borderColor); */
  border-radius: 3px;
  cursor: pointer;
}

.btn-submit:hover {
  background: var(--primaryIconColorHover);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #9d9fa1;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 1px solid #7d7d7d;
  transition: 0.2s ease-in-out;
}

.contact-item {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.contact-item-icon {
  background: var(--thirdBackgroundColor);
  width: 53px;
  height: 53px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-item-icon svg {
  fill: var(--primaryIconColor);
}

.contact-item-detail h4 {
  margin-bottom: 0.6rem;
}

.form-control {
  width: 100%;
  padding: 0.75rem 1.3rem;
  font-family: "roboto", sans-serif;
  background: var(--secondaryBackgroundColor);
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  resize: none;
}

.result-section {
  width: 45%;
  padding: 15px;
  /* border: 1px solid #ccc;
  background-color: #f9f9f9; */
  line-height: 1.6;
}

.result-section h4 {
  margin-bottom: 15px;
}

/* Footer Section */
footer {
  padding: 2rem 0;
  background: var(--secondaryBackgroundColor);
  text-align: center;
}

.footer-icons {
  margin-bottom: 1rem;
  text-align: center;
}

.footer-icons a {
  margin: 0 0.5rem;
}

.footer-icons svg {
  fill: #3e3f40;
}

.footer-icons a:hover svg {
  fill: #000;
}
